html
  display: flex
  height: 100%

body
  display: flex
  flex: 1
  margin: 0

body > content
  display: block
  margin: auto
  position: relative

  > pre.debug
    color: white
    margin: 1em
    pointer-events: none
    position: absolute
