html
  background-color: black
  display: flex
  height: 100%

body
  display: flex
  flex: 1
  margin: 0

body > canvas
  display: block
  margin: auto
  position: relative

body > content
  display: block
  margin: auto
  position: relative

  > pre.debug
    color: white
    margin: 1em
    pointer-events: none
    position: absolute

  > progress
    bottom: 0
    left: 0
    margin: auto
    position: absolute
    right: 0
    top: 0

    &[value="100"]
      display: none
